---
import '@fontsource-variable/inter'
import { Icon } from 'astro-icon/components'
import ListIconItem from '../components/ListIconItem.astro'
// import GraduationPost from '../components/GraduationPost.astro'

const techStack = [
  {
    name: 'TypeScript',
    icon: 'devicon:typescript',
  },
  {
    name: 'Vue',
    icon: 'devicon:vuejs',
  },
  {
    name: 'Nuxt',
    icon: 'logos:nuxt-icon',
  },
  {
    name: 'React',
    icon: 'devicon:react',
  },
  {
    name: 'Mantine',
    icon: 'logos:mantine-icon',
  },
  {
    name: 'Astro',
    icon: 'devicon:astro',
  },
  {
    name: 'Tailwind CSS',
    icon: 'devicon:tailwindcss',
  },
  {
    name: 'Node.js',
    icon: 'devicon:nodejs',
  },
  {
    name: 'Hono',
    icon: 'logos:hono',
  },
  {
    name: 'CloudFlare',
    icon: 'devicon:cloudflare',
  },
  {
    name: 'PostgreSQL',
    icon: 'devicon:postgresql',
  },
  {
    name: 'WebStorm',
    icon: 'devicon:webstorm',
  },
  // {
  //   name: 'Firebase',
  //   icon: 'devicon:firebase',
  // },
  // {
  //   name: 'Supabase',
  //   icon: 'devicon:supabase',
  // },
]

const experience = [
  {
    date: 'Feb. 2023 - now',
    position: 'Software Developer and IT Officer',
    company: 'SMSGlobal',
  },
  {
    date: 'June 2022 - June 2023',
    position: 'Lead Frontend Developer',
    company: 'Department of Science and Technology - Philippines',
  },
]
---

<html lang="en" class="bg-gray-950">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Baron - Software Developer</title>
  </head>

  <body class="text-gray-200">
    <div
      class="relative bg-center w-full py-32"
      style="background-size: 64px 64px; background-image: linear-gradient(to right, #3337 1px, transparent 1px), linear-gradient(to bottom, #3337 1px, transparent 1px);"
    >
      <div class="max-w-2xl mx-auto flex flex-col text-balance px-4">
        <div class="font-medium">Baron Rodrigo</div>
        <div class="text-gray-500 flex items-center">
          Software Developer @ SMSGlobal
          <div class="bg-red-500 w-1 h-1 ms-2 rounded-full animate-pulse"></div>
        </div>
        <div class="text-gray-500">Quezon City, Philippines</div>
        <h1
          class="mt-12 text-2xl border-l ps-4 border-gray-300 leading-9 text-gray-300"
        >
          Building web apps that stand the test of time in record time.
        </h1>
        <div class="mt-12">
          <a
            href="#contact"
            class="bg-orange-700 text-white rounded px-6 py-2.5">Contact</a
          >
          <!--<a-->
          <!--  class="border border-gray-700 bg-gray-800 text-white rounded px-6 py-2"-->
          <!--  >View resume</a-->
          <!--&gt;-->
        </div>
      </div>

      <div
        class="absolute bottom-0 w-full h-4 bg-gradient-to-b from-gray-950/0 to-gray-950"
      >
      </div>
    </div>

    <div class="max-w-2xl mx-auto px-4 mt-6 space-y-16 mb-16">
      <section>
        <h2>About</h2>
        <p class="mt-4">
          Frontend-oriented software engineer working on web applications with a
          keen eye for details and a deep understanding of paradigms,
          principles, and best practices. Currently developing high quality
          internal management software for SMSGlobal.
        </p>

        <!--<p class="mt-4">-->
        <!--  I currently work for SMSGlobal, building beautiful, fast, and-->
        <!--  functional applications for our clients.-->
        <!--</p>-->

        <p class="mt-4">
          In my free time, I'm passionate about tech, music, and games. Here's
          my progress on some of the things I'm pursuing:
        </p>
        <ul class="mt-4 space-y-2">
          <ListIconItem icon="ph:computer-tower"
            >80 PC builds commissioned</ListIconItem
          >
          <ListIconItem icon="ph:key-return">130 WPM on MonkeyType</ListIconItem
          >
          <ListIconItem icon="ph:crown">
            <span class="text-purple-400 font-medium">Master</span> in League of
            Legends
          </ListIconItem>
          <ListIconItem icon="ph:sneaker-move"
            ><span class="text-gray-400 font-medium">Advanced Lv. 4</span> on The
            World's Finest Dance Simulation Game</ListIconItem
          >
        </ul>
      </section>

      <section>
        <h2>Tech Stack</h2>
        <ul class="grid grid-cols-3 sm:grid-cols-6 mt-4">
          {
            techStack.map(({ name, icon }) => (
              <li class="bg-white/10 hover:bg-white/20 transition border border-black hover:border-gray-200/20 select-none rounded flex flex-col py-3 px-2 gap-3 items-center text-center">
                <Icon name={icon} size={28} />
                <div class="text-xs leading-none">{name}</div>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2>Experience</h2>
        <ul class="mt-4 space-y-4">
          {
            experience.map(({ date, position, company }) => (
              <li class="grid grid-cols-3 gap-3">
                <div class="text-gray-400">{date}</div>
                <div class="col-span-2">
                  <>
                    <div>{position}</div>
                    <div class="text-gray-400">{company}</div>
                  </>
                </div>
              </li>
            ))
          }
        </ul>
      </section>

      <!--<section>-->
      <!--  <h2>Education</h2>-->
      <!--  <p class="my-4">-->
      <!--    Rather than talk about it, here's my commemorative graduation Facebook-->
      <!--    post:-->
      <!--  </p>-->
      <!--  <GraduationPost />-->
      <!--</section>-->

      <section>
        <h2>Projects</h2>
        <ul class="mt-4 space-y-4">
          <li>
            <a
              href="https://github.com/flesky/react-admin-starter"
              target="_blank"
            >
              <h3 class="inline-flex items-center gap-2">
                react-admin-starter<Icon name="ph:arrow-up-right" />
              </h3>
              <p class="mt-1 text-gray-400">
                An opinionated starter template for rapidly developing admin
                apps using React.
              </p></a
            >
          </li>
          <li>
            <a href="https://worden.web.app" target="_blank">
              <h3 class="inline-flex items-center gap-2">
                Worden<Icon name="ph:arrow-up-right" />
              </h3>
              <p class="mt-1 text-gray-400">A minimal Wordle clone.</p>
            </a>
          </li>
        </ul>
      </section>

      <section id="contact">
        <h2>Get in touch</h2>
        <ul class="mt-4 space-y-2">
          <ListIconItem icon="ph:envelope">
            <a
              href="mailto:contact@brn.one"
              class="underline text-orange-400 underline-offset-4"
              >contact@brn.one</a
            ></ListIconItem
          >
          <ListIconItem icon="ph:linkedin-logo">
            <a
              href="https://www.linkedin.com/in/baron-rodrigo/"
              target="_blank"
              class="underline text-orange-400 underline-offset-4"
              >linkedin.com/in/baron-rodrigo</a
            >
          </ListIconItem>
        </ul>
      </section>

      <footer class="mt-16">
        <div class="text-center text-gray-500 text-sm">
          Work in progress. Made with love using Astro.
        </div>
      </footer>
    </div>

    <style>
      h2 {
        @apply uppercase text-gray-500 font-semibold text-sm select-none;
      }
    </style>
  </body>
</html>
